// Color Pallete
$light: #F5F5F5;
$grey: rgba(47, 46, 46, 0.05);
$dark: #0A0A0A;
$success: #85CB33;
$warning: #D78521;
$danger: #CC2936;

$small: 425px;
$s-medium: 528px;
$medium: 768px;
$m-large: 900px;
$large: 1200px;
$x-large: 1440px;
$xx-large: 2560px;

html,
body {
  background: $light;
  overflow-x: hidden;
}
