@mixin header {
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  color: $dark;
}

@mixin important-text {
  font-weight: 400;
  font-size: 14px;
  padding: 0 4px;
  line-height: 1.3;

  bold {
    font-weight: 500;
  }
}

@mixin nav-link {
  color: $dark;
  text-decoration: none;
  font-weight: 400;
  transition: font-weight .2s ease-in-out;

  &.nuxt-link-active {
    font-weight: 500;
  }

  &:hover {
    font-weight: 700;
  }

  &.nuxt-link-exact-active {
    font-weight: 700;
    color: $dark;
  }

  &[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0;
  }
}

@mixin button {
  border: 1px solid $dark;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  height: fit-content;
  width: fit-content;
  padding: 8px 12px;
  margin: 1rem 0;
  cursor: pointer;
  transition: box-shadow .2s ease-in-out, padding .2s linear, color .2s ease-in-out, background .2s ease-in-out;
  text-decoration: none
}

@mixin jumbotron-button {
  @include button;
  color: $light;
  background: $dark;

  &:hover {
    padding: 8px 16px;
  }
}
