@mixin header {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

@mixin important-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

@mixin nav-link {
  color: $dark;
  text-decoration: none;
  font-weight: 500;
  transition: font-weight .2s ease-in-out;

  &:hover {
    font-weight: 700;
  }

  &.nuxt-link-exact-active {
    font-weight: 900;
    color: $dark;
  }
}

@mixin jumbotron-button {
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  height: fit-content;
  width: fit-content;
  padding: 8px 12px;
  margin: 1rem 0;
  cursor: pointer;
  transition: box-shadow .2s ease-in-out, padding .2s linear;

  &:hover {
    box-shadow: 0px 8px 8px $dark;
  }
}